
USE [DBQlRenLuyen]
GO
/****** Object:  Table [dbo].[__MigrationHistory] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChamDiemRenLuyens] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamDiemRenLuyens](
	[IdChamDiemRenLuyen] [int] IDENTITY(1,1) NOT NULL,
	[Diem] [int] NOT NULL,
	[TieuChi] [nvarchar](max) NOT NULL,
	[IdSinhVien] [int] NOT NULL,
	[TrangThai] [int] NOT NULL,
	[IdHocKy] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ChamDiemRenLuyens] PRIMARY KEY CLUSTERED 
(
	[IdChamDiemRenLuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoVanHocTaps] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoVanHocTaps](
	[IdCoVanHocTap] [int] IDENTITY(1,1) NOT NULL,
	[MaCVHT] [nvarchar](255) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[HoTen] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_dbo.CoVanHocTaps] PRIMARY KEY CLUSTERED 
(
	[IdCoVanHocTap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiemRenLuyens] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemRenLuyens](
	[IdDiemRenLuyen] [int] IDENTITY(1,1) NOT NULL,
	[TongDiem] [int] NOT NULL,
	[IdSinhVien] [int] NOT NULL,
	[TrangThai] [int] NOT NULL,
	[IdHocKy] [int] NOT NULL,
 CONSTRAINT [PK_dbo.DiemRenLuyens] PRIMARY KEY CLUSTERED 
(
	[IdDiemRenLuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocKies] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocKies](
	[IdHocKy] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.HocKies] PRIMARY KEY CLUSTERED 
(
	[IdHocKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopTaiChinhs] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopTaiChinhs](
	[IdLopTaiChinh] [int] IDENTITY(1,1) NOT NULL,
	[TenLop] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_dbo.LopTaiChinhs] PRIMARY KEY CLUSTERED 
(
	[IdLopTaiChinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhViens] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhViens](
	[IdSinhVien] [int] IDENTITY(1,1) NOT NULL,
	[MaSinhVien] [nvarchar](255) NOT NULL,
	[MatKhau] [nvarchar](255) NULL,
	[HoTen] [nvarchar](255) NULL,
	[NgaySinh] [datetime] NOT NULL,
	[SoDienThoai] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[TrangThai] [int] NOT NULL,
	[IdLopTaiChinh] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SinhViens] PRIMARY KEY CLUSTERED 
(
	[IdSinhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChamDiemRenLuyens] ON 

INSERT [dbo].[ChamDiemRenLuyens] ([IdChamDiemRenLuyen], [Diem], [TieuChi], [IdSinhVien], [TrangThai], [IdHocKy]) VALUES (1, 12, N'Đánh giá về kết quả học tập (Điểm TBC học kỳ) ', 1, 0, 1)
INSERT [dbo].[ChamDiemRenLuyens] ([IdChamDiemRenLuyen], [Diem], [TieuChi], [IdSinhVien], [TrangThai], [IdHocKy]) VALUES (2, 1, N'Tham gia các CLB học thuật, các buổi hội thảo, báo cáo chuyên đề, tọa đàm, huấn luyện kỹ năng, sinh hoạt, giao lưu, trao đổi về học tập, NCKH', 1, 0, 1)
INSERT [dbo].[ChamDiemRenLuyens] ([IdChamDiemRenLuyen], [Diem], [TieuChi], [IdSinhVien], [TrangThai], [IdHocKy]) VALUES (3, 2, N'Đạt giải III (hoặc giải C), khuyến khích trong nghiên cứu khoa học hoặc các cuộc thi học thuật cấp trường hoặc tương đương', 1, 0, 1)
GO
SET IDENTITY_INSERT [dbo].[ChamDiemRenLuyens] OFF
GO
SET IDENTITY_INSERT [dbo].[CoVanHocTaps] ON 

INSERT [dbo].[CoVanHocTaps] ([IdCoVanHocTap], [MaCVHT], [MatKhau], [HoTen]) VALUES (1, N'CV1', N'123456', N'Cố Vấn 1')
SET IDENTITY_INSERT [dbo].[CoVanHocTaps] OFF
GO
SET IDENTITY_INSERT [dbo].[DiemRenLuyens] ON 

INSERT [dbo].[DiemRenLuyens] ([IdDiemRenLuyen], [TongDiem], [IdSinhVien], [TrangThai], [IdHocKy]) VALUES (1, 80, 1, 0, 1)
INSERT [dbo].[DiemRenLuyens] ([IdDiemRenLuyen], [TongDiem], [IdSinhVien], [TrangThai], [IdHocKy]) VALUES (2, 45, 1, 0, 2)
INSERT [dbo].[DiemRenLuyens] ([IdDiemRenLuyen], [TongDiem], [IdSinhVien], [TrangThai], [IdHocKy]) VALUES (3, 69, 2, 0, 1)
SET IDENTITY_INSERT [dbo].[DiemRenLuyens] OFF
GO
SET IDENTITY_INSERT [dbo].[HocKies] ON 

INSERT [dbo].[HocKies] ([IdHocKy], [Ten]) VALUES (1, N'I')
INSERT [dbo].[HocKies] ([IdHocKy], [Ten]) VALUES (2, N'II')
INSERT [dbo].[HocKies] ([IdHocKy], [Ten]) VALUES (3, N'III')
SET IDENTITY_INSERT [dbo].[HocKies] OFF
GO
SET IDENTITY_INSERT [dbo].[LopTaiChinhs] ON 

INSERT [dbo].[LopTaiChinhs] ([IdLopTaiChinh], [TenLop]) VALUES (1, N'1410A01')
INSERT [dbo].[LopTaiChinhs] ([IdLopTaiChinh], [TenLop]) VALUES (2, N'1410A02')
INSERT [dbo].[LopTaiChinhs] ([IdLopTaiChinh], [TenLop]) VALUES (3, N'1410A03')
SET IDENTITY_INSERT [dbo].[LopTaiChinhs] OFF
GO
SET IDENTITY_INSERT [dbo].[SinhViens] ON 

INSERT [dbo].[SinhViens] ([IdSinhVien], [MaSinhVien], [MatKhau], [HoTen], [NgaySinh], [SoDienThoai], [DiaChi], [TrangThai], [IdLopTaiChinh]) VALUES (1, N'1858543', N'123456', N'Nguyen Van Tý', CAST(N'2023-07-06T00:00:00.000' AS DateTime), N'0987654321', N'hcm q10', 1, 1)
INSERT [dbo].[SinhViens] ([IdSinhVien], [MaSinhVien], [MatKhau], [HoTen], [NgaySinh], [SoDienThoai], [DiaChi], [TrangThai], [IdLopTaiChinh]) VALUES (2, N'205050321', N'123456', N'Trần Thị Thùy Trâm', CAST(N'2023-07-06T00:00:00.000' AS DateTime), N'0926354334', N'hcm vn q8', 1, 2)
INSERT [dbo].[SinhViens] ([IdSinhVien], [MaSinhVien], [MatKhau], [HoTen], [NgaySinh], [SoDienThoai], [DiaChi], [TrangThai], [IdLopTaiChinh]) VALUES (3, N'1568655', N'12345678', N'Nguyễn Văn Em', CAST(N'2023-07-06T00:00:00.000' AS DateTime), N'03837333', N'hcm vn q7', 1, 2)
SET IDENTITY_INSERT [dbo].[SinhViens] OFF
GO
/****** Object:  Index [IX_IdHocKy] ******/
CREATE NONCLUSTERED INDEX [IX_IdHocKy] ON [dbo].[ChamDiemRenLuyens]
(
	[IdHocKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdSinhVien] ******/
CREATE NONCLUSTERED INDEX [IX_IdSinhVien] ON [dbo].[ChamDiemRenLuyens]
(
	[IdSinhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdHocKy] ******/
CREATE NONCLUSTERED INDEX [IX_IdHocKy] ON [dbo].[DiemRenLuyens]
(
	[IdHocKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdSinhVien] ******/
CREATE NONCLUSTERED INDEX [IX_IdSinhVien] ON [dbo].[DiemRenLuyens]
(
	[IdSinhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdLopTaiChinh] ******/
CREATE NONCLUSTERED INDEX [IX_IdLopTaiChinh] ON [dbo].[SinhViens]
(
	[IdLopTaiChinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChamDiemRenLuyens] ADD  DEFAULT ((0)) FOR [IdHocKy]
GO
ALTER TABLE [dbo].[DiemRenLuyens] ADD  DEFAULT ((0)) FOR [IdHocKy]
GO
ALTER TABLE [dbo].[ChamDiemRenLuyens]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChamDiemRenLuyens_dbo.HocKies_IdHocKy] FOREIGN KEY([IdHocKy])
REFERENCES [dbo].[HocKies] ([IdHocKy])
GO
ALTER TABLE [dbo].[ChamDiemRenLuyens] CHECK CONSTRAINT [FK_dbo.ChamDiemRenLuyens_dbo.HocKies_IdHocKy]
GO
ALTER TABLE [dbo].[ChamDiemRenLuyens]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChamDiemRenLuyens_dbo.SinhViens_IdSinhVien] FOREIGN KEY([IdSinhVien])
REFERENCES [dbo].[SinhViens] ([IdSinhVien])
GO
ALTER TABLE [dbo].[ChamDiemRenLuyens] CHECK CONSTRAINT [FK_dbo.ChamDiemRenLuyens_dbo.SinhViens_IdSinhVien]
GO
ALTER TABLE [dbo].[DiemRenLuyens]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DiemRenLuyens_dbo.HocKies_IdHocKy] FOREIGN KEY([IdHocKy])
REFERENCES [dbo].[HocKies] ([IdHocKy])
GO
ALTER TABLE [dbo].[DiemRenLuyens] CHECK CONSTRAINT [FK_dbo.DiemRenLuyens_dbo.HocKies_IdHocKy]
GO
ALTER TABLE [dbo].[DiemRenLuyens]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DiemRenLuyens_dbo.SinhViens_IdSinhVien] FOREIGN KEY([IdSinhVien])
REFERENCES [dbo].[SinhViens] ([IdSinhVien])
GO
ALTER TABLE [dbo].[DiemRenLuyens] CHECK CONSTRAINT [FK_dbo.DiemRenLuyens_dbo.SinhViens_IdSinhVien]
GO
ALTER TABLE [dbo].[SinhViens]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SinhViens_dbo.LopTaiChinhs_LopTaiChinh_IdLopTaiChinh] FOREIGN KEY([IdLopTaiChinh])
REFERENCES [dbo].[LopTaiChinhs] ([IdLopTaiChinh])
GO
ALTER TABLE [dbo].[SinhViens] CHECK CONSTRAINT [FK_dbo.SinhViens_dbo.LopTaiChinhs_LopTaiChinh_IdLopTaiChinh]
GO
USE [master]
GO
